@import "../utils/_variables";
@import "../utils/mixins";

/* Mobile */
@media (max-width: $tablette) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
}

/* Tablette */
@media (min-width: $tablette) and (max-width: $desktop) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        
        .principal-entete {
            .nav-fonctionnement {
                h2 {
                    text-align: center;
                    margin-left: 0;
                }
    
                ul {
                    flex-direction: row;
                    flex-wrap: wrap;
        
                    li:first-child, li:nth-child(2) {
                        width: 45%;
                    }

                    li:last-child {
                        margin-left: auto;
                        margin-right: auto;
                        width: 50%;
                    }
                }
            }
        }

        .principal-contenu {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .menu__card {
                @include cards(360px, 45%, #FFF, 25px);
            }
        }

    }

    .menu {        
        .menu__main {
            div:first-child {
                div {
                    width: 100%;
                }
    
                section {
                    width: 45%;
                }
                
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }

        }

    }
}

@media (min-width: $desktop) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

        .principal-entete {
            .nav-fonctionnement {

                h2 {
                    text-align: center;
                    margin-left: 0;
                }
    
                ul {
                    height: auto;
                    flex-direction: row;
        
                    li {
                        width: 25%;
                    }
                }
            }
        }

        .principal-contenu {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;

            .menu__card {
                @include cards(360px, 20%, #FFF, 25px);
            }
        }
    }

    .menu {        
        .menu__main {
            div:first-child {
                div {
                    width: 100%;
                }
    
                section {
                    width: 32%;
                }
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            
        }
    }
}