@import "../utils/_variables.scss";

.loading-page {
    position: fixed;
    top: 50%;
    left: 50%;

    translate: -50% -50%;

    z-index: 99999999;
    
    border: 15px solid #9E9E9E;
    border-radius: 50%;
    border-top-color: $primaire;
    border-right-color: $secondaire;
    border-bottom-color: $ternaire;

    height: 150px;
    width: 150px;
    
    animation: spin 2s ease forwards;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(1turn);
        visibility: hidden;
    }
}

.loading-page ~ * {
    visibility: hidden;
    animation: body-visibility 2s 1s ease forwards;
}

@keyframes body-visibility {
    to {
        visibility: visible;
    }
}

body {
    overflow: hidden;
    animation: scroll-page 2s 1ms ease-in-out forwards;
}

@keyframes scroll-page {
    to {
        overflow: scroll;
    }
}