@import "../utils/_variables";
@import "../components/_button";

.menu {

    .menu__header {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0 5px ;
        height: 70px;

        transition: all 1s ease;

        a {
            color: black;
            position: absolute;
            left: 20px;
        }
    }

    .menu__main {
        margin-top: -30px;
        background-color: whitesmoke;
        padding: 15px 10px;
        border-radius: 30px 30px 0 0;

        div:first-child {

            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                h2 {
                    font-family: 'Shrikhand', Arial, Helvetica, sans-serif;
                }
            }
            
            section {
                margin-top: 20px;
                
                animation: show-in 2s 1s ease-in-out both;

                > p {
                    width: 43px;
                    text-transform: uppercase;
                    border-bottom: 2px solid $ternaire;
                    padding-bottom: 2px;
               }
            }
            

            section article {
                display: flex;
                justify-content: space-between;

                overflow: hidden;

                cursor: pointer;
                border-radius: 15px;
                margin: 20px 0;
                background-color: #FFF;
                transition: all 1s ease;
                animation: show-in 1s ease-in-out 5ms forwards;

                &:hover {
                    padding-right: 100px;
                }
                
                div:first-child {
                    display: block;
                    width: 65%;

                    padding: 20px 0 20px 20px;
                    
                    
                    h3 {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    
                    p {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                
                div:nth-child(2) {
                    display: flex;
                    align-items: flex-end;
                    
                    width: min-content;

                    margin-right: -70px;

                    p {
                        font-weight: bold;

                        padding-bottom: 20px;
                    }
                }

                div:last-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 100px;

                    margin-right: -100px;

                    background-color: $ternaire;
                    overflow: hidden;

                    border-bottom-right-radius: inherit;
                    border-top-right-radius: inherit;

                    .fa-check {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        height: 50px;
                        width: 50px;

                        border-radius: 100%;
                        background-color: #FFF;
                    }
                }
            }
        }

        div:last-child {
            button {
                padding: 15px 50px;
                margin-bottom: 30px;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
        }
    }
}

@for $i from 1 to 5 {
    .menu .menu__main div:first-child section article:nth-child(#{$i}) {
        animation: slideup 2s ease-in-out forwards;
        animation-delay: #{$i/10}s;
    }
}

@keyframes slideup {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}