@import "../utils/_variables";

.fa-heart {
    position: relative;
    cursor: pointer;
    transform: scale(1.2, 1.5);
    background-clip: text;
    
    &:hover {
        background: linear-gradient(45deg, $primaire, $secondaire);
        background-clip: text;
        color: transparent;
    }
    
    &::after {
        content: '\f004';
        position: absolute;
        z-index: -1;
        height: 0%;
        top: 0;
        left: 0;
        transition: height 1s ease;
        color: transparent;
    }
    
    &:hover::after {
        content: '\f004';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: linear-gradient(45deg, $primaire, $secondaire);
        background-clip: text;
    }
}
