@import "../utils/varibles";

footer {
    background-color: rgba($color: #000000, $alpha: .8);
    color: #FFF;
    padding: 1em 0 2em 1em;

    h3 {
        color: #FFF;
    }

    nav li {
        list-style-type: none;
        i {
            margin-right: 10px;
            height: 20px;
            width: 20px;
        }

        a {
            color: #FFF;
            margin: 3px 0;
            text-decoration: none;
        }
    }

}