@import "../components/_button";
@import "../utils/_variables";

.principal-entete {
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: .35em;
    box-shadow: 1px 0 5px rgba($color: #000000, $alpha: .4);

    img {
        height: auto;
        width: 145px;
    }
}